html {
  font-family: sans-serif;
    background-color: #232424;
    color: #dddcda;
}

code {
  background-color: #00000055;
}

b {
  font-size: .8em;
}

a {
  text-decoration: underline;
  color: #dddcfb;
}