@font-face {
    font-family: 'Quicksand';
    src: url("Quicksand.otf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: Quicksand, sans-serif;
    font-size: 3ch;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

input {
    background-color: transparent;
    border: 2px solid #9399b2;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-align: center;
    width: 100%;
    border-radius: 6px;
}

.row, .fail {
    font-weight: 600;
}

.tld {
    color: #74c7ec;
}

.sld {
    color: #a6e3a1;
}

.fail {
    color: #f38ba8;
}