html {
  font-family: sans-serif;
    background-color: #232424;
    color: #dddcda;
}

b {
  font-size: .8em;
}

a {
  text-decoration: underline;
  color: #dddcfb;
}

#scale, #angle, #alpha {
  width: 400px;
}

#canv {
  max-width: 550px;
  max-height: 750px;
  border: 1px solid cyan;
  touch-action: none;
}