body {
  width: calc( min(100vw, 56.25vh) );
  height: calc( min(177.777vw, 100vh) );
  margin: 0;
  padding: 0;
}

html {
  --unit: calc( min(10vw, 5.625vh) );
  font-size: var( --unit );
  overflow: hidden;
}

html, #question, #answers, #bottom, #afterdef, #optionsbutton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

html, #main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  position: relative;
}

* {
  font-family: Quicksand, sans-serif;
  background-color: #11111b;
  color: #cdd6f4;
}

.toki {
  font-family: Pona, PonaAlt, sans-serif;
}

.toki.tokialt, .tokialt {
  font-family: PonaAlt, Pona, sans-serif;
}

#question {
  box-sizing: border-box;
  height: 30%;
  font-size: 1.5em;
}


#question .def {
  font-size: .4em;
  margin: 0 calc( var( --unit ) / 2 );
}

#answers {
  box-sizing: border-box;
  height: 50%;
  flex-wrap: wrap;
}

.answer {
  border-radius: calc( var( --unit ) * 0.8 );
  border: 3px solid #7f849c;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.2s, filter 0.3s;
}

.answerCorrect {
  border-color: #a6e3a1;
  filter: drop-shadow(0px 0px 2px #a6e3a1);
}

.answerWrong {
  border-color: #f38ba8;
  filter: drop-shadow(0px 0px 1px #f38ba8);
}

#answers:not(.answered) .answer:hover {
  border-color: #89dceb;
  cursor: pointer;
  user-select: none;
}

.spAnswer {
  width: calc( var( --unit ) * 2 );
  height: calc( var( --unit ) * 2 );
  margin: calc( var( --unit ) / 3 );
}

.tpAnswer {
  width: calc( var( --unit ) * 4 );
  height: calc( var( --unit ) * 1.75 );
  margin: calc( var( --unit ) / 4 );
  font-size: 0.8em;
}

.defAnswer {
  width: calc( var( --unit ) * 9 );
  height: calc( var( --unit ) * 1.75 );
  margin: calc( var( --unit ) / 4 );
  font-size: 0.38em;
  box-sizing: border-box;
  padding: calc( var( --unit ) / 5 );
}

#bottom {
  box-sizing: border-box;
  height: 20%;
  position: relative;
  z-index: 1;
}

#question, #answers, #bottom {
  background-color: transparent;
}

#afterdef {
  border: 1px solid #7f849c;
  width: calc( var( --unit ) * 6 );
  height: calc( var( --unit ) * 2.5 );
  margin-right: calc( var( --unit ) * .5 );
  border-radius: calc( var( --unit ) * 0.4 );
  font-size: calc( var( --unit ) * 0.4 );
  padding: calc( var( --unit ) / 2 );
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

#afterdefcontent span {
  font-size: calc( var( --unit ) * 0.8 );
}

#afterdefcontent span.toki {
  font-size: calc( var( --unit ) * 1.3 );
}

#afterdefcontent span.def {
    font-size: 0.9em;
}

#afterdef:hover {
  border-color: #89dceb;
}

#afterpopup {
  content: var( --popup-content, "view on nimi.li" );
  position: absolute;
  font-family: sans-serif;
  z-index: -1;
  top: calc( var( --unit ) * 0.1 );
  font-size: calc( var( --unit ) * 0.4 );
  border: 1px solid #89dceb;
  padding: calc( var( --unit ) * 0.1 ) calc( var( --unit ) * 0.4 );
  border-radius: calc( var( --unit ) * 0.4 );
  padding-bottom: calc( var( --unit ) * 0.8 );
  transition: top 0.25s;
}

#afterdef:hover #afterpopup {
  top: calc( var( --unit ) * -0.7 );
}

#next {
  border: 1px solid #7f849c;
  width: calc( var( --unit ) * 3 );
  height: calc( var( --unit ) * 2.5 );
  border-radius: calc( var( --unit ) * 0.4 );
  font-size: calc( var( --unit ) * 1.5 );
  cursor: pointer;
  
  /* for autoadvance */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAANUlEQVQI12Po3PKLmYmBgYGFiYGBgY2JgYGBFQuBJoFNMRtcghWvUWg6mElRTIQjWYhUzAoAzlcDloyDky8AAAAASUVORK5CYII=);
  background-repeat-x: no-repeat;
  background-size: 0% calc( var( --unit ) * .5 );
  image-rendering: pixelated;
  background-position: left bottom;
  background-repeat-y: no-repeat;
  background-origin: border-box;
}

#optionsbutton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc( var( --unit ) * .25 );
  left: calc( var( --unit ) * .25 );
  border: 1px solid #7f849c;
  opacity: .5;
  width: calc( var( --unit ) * 1.5 );
  height: calc( var( --unit ) * .5 );
  border-radius: calc( var( --unit ) * 0.4 );
  font-size: calc( var( --unit ) * .5 );
  cursor: pointer;
}



.kijetesantakalu {
  font-size: 0.5em;
}

/***************
 *             *
 *   OPTIONS   *
 *             *
 ***************/

#options {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

#options > * {
  position: absolute;
}

#options * {
  user-select: none;
  background-color: transparent;
}

#opt-close {
  top: 0;
  right: 0;
}

#opt-title {
  font-size: 1.75em;
  top: 0;
  left: 0;
}

#opt-subtitle {
  font-size: .4em;
  opacity: .5;
  padding-right: 1em;
}

#opt-cred {
  font-size: .32em;
  bottom: calc( var( --unit ) * .25 );
  left: calc( var( --unit ) * 1 );
  right: calc( var( --unit ) * 1 );
}

#opt-cred a {
  text-decoration: none;
  font-weight: bold;
  color: #89dceb;
}

#opt-wordset {
  left: calc( var( --unit ) * 3 );
  right: calc( var( --unit ) * 3 );
  top: calc( var( --unit ) * 5.5 );
  appearance: none;
  background: #74c7ec;
  cursor: pointer;
  height: calc( var( --unit ) * .8 );
  border: 3px solid #313244;
  border-radius: calc( var( --unit ) * .3 );
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAAABCAIAAABFZYeTAAAAG0lEQVQY02Nc9nghA43BuSfetLai7c1sWlsBANQ+BjYyilasAAAAAElFTkSuQmCC");
  background-size: calc( var( --unit ) * 4 - 8px ) 1px;
}

#opt-wordset::-webkit-slider-thumb {
  width: calc( var( --unit ) * .2 );
  height: calc( var( --unit ) * .2 );
  border-radius: 50%;
  border: calc( var( --unit ) * .65 ) solid transparent;
  border-bottom: calc( var( --unit ) * .65 ) solid #6c7086;
  appearance: none;
}

#opt-wordset::-moz-range-thumb {
  width: calc( var( --unit ) * .2 );
  height: calc( var( --unit ) * .2 );
  border-radius: 50%;
  border: calc( var( --unit ) * .65 ) solid transparent;
  border-bottom: calc( var( --unit ) * .65 ) solid #6c7086;
  appearance: none;
}

#opt-wordset-title {
  left: calc( var( --unit ) * 2 );
  right: calc( var( --unit ) * 2 );
  top: calc( var( --unit ) * 4 );
  line-height: 0.8;
  font-size: 0.8em;
}

#opt-wordset-caption {
  left: calc( var( --unit ) * 1 );
  right: calc( var( --unit ) * 1 );
  top: calc( var( --unit ) * 6.7 );
  font-size: 0.5em;
  z-index: -1;
}

#opt-wordset-caption .core {color: #a6e3a1}
#opt-wordset-caption .common {color: #74c7ec}
#opt-wordset-caption .uncommon {color: #fab387}
#opt-wordset-caption span {font-weight: bold}

#opt-autoa-title {
  left: calc( var( --unit ) * 2 );
  right: calc( var( --unit ) * 2 );
  top: calc( var( --unit ) * 9 );
  line-height: 0.8;
  font-size: 0.8em;
}

#opt-autoa {
  left: calc( var( --unit ) * 4.25 );
  right: calc( var( --unit ) * 4.25 );
  top: calc( var( --unit ) * 10.5 );
  height:  calc( var( --unit ) * 1.25 );
  line-height: 0.8;
  font-size: 1em;
  border: 3px solid #313244;
  color: #313244;
  border-radius: 25%;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fab387;
}

#opt-autoa-dummy:checked ~ #opt-autoa {
  background-color: #a6e3a1;
}